<article class="detail-article">
  <h1 class="article-detail-title"><%= @article.title %>
    <%= link_to "edit", edit_article_path(@article), class: "btn btn-success btn-xs"%></h1>

  <div class="glyphicon glyphicon-calendar" id="article-date">
    <%= @article.created_at.strftime("%b %d, %Y") %>
  </div>

    <div class="article-body">
      <%= @article.body %>
    </div>
</article>
