@import "bootstrap-sprockets";
@import "bootstrap";

/*
background: #eb6864;
*/

body {
  padding-top: 60px;
}

.navbar-default {
  background-color: #fff;
  border-color: #999999;
  border-width: 0px 0px 1.8px 0px;
  color: #888888;
}

.navbar-default .navbar-brand {
    color: #888888;
    text-transform: uppercase;
    font-size: 28px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #999999;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #gray;
}

.navbar-default .navbar-nav > .take-action > a,
.navbar-default .navbar-nav > .take-action > a, a:hover,
.navbar-default .navbar-nav > .take-action > a, a:focus {
  color: #fff;
  background-color: #eb6864;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #999999;
  background-color: transparent;
}

/**.navbar-default .navbar-nav > .take-action > a {
  color: white;
  background: #eb6864;
}**/

/* .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     color: #000;
     background: #eb6864;
} */

/*.navbar-default {

    color: gray;
    border-radius:10;
} */

/**.navbar-default .navbar-nav > li > a {
    color: black;
    background-color: white;
}**/

/* .navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-default .navbar-brand {
    color:#eb6864;
}
*/
.article-title, .article-body {
  padding-left: 0.7em;
}

.article-title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0,8em;
}

.article-body {
  font-size: 1.1em;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

.article-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}

.btn-padding {
  margin: 0px -5px 0px -5px;
}
