<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <footer role="contentinfo">
        <p><small><strong><%= link_to "Github", "https://github.com/Nalipp", :target => "_blank"  %><string></small></p>
      </footer>
    </div>
  </div>
</div>
